.title-white-card-middle{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    color: #323232;
    width: 100%;
    text-align:center;
}
.grid-im-dante{
    padding-bottom:5px !important;
}
.grid-im-dante img{
    width: 206px;
    height: 206px;
    filter: drop-shadow(8px 8px 40px rgba(77, 77, 77, 0.35));
}
.title-im-dante{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #323232;
    text-align:center;
}
.txt-im-dante{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #999999;
    text-align:center;
}