body{
    padding: 0px 0px 0px 0px !important;
    margin:0px 0px 0px 0px !important;
}
.container-PDF{
    display:flex;
    margin-right:auto;
    margin-left:auto;
    align-items:stretch;
}
.grid-blue{
    object-fit:cover;
}
.grid-contenido{
    background-image:url(/img/diploma/marca-agua.png);
    background-repeat: no-repeat;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.div_logos{
    display:flex;
    width: 100%;
    padding:20px;
    align-items:baseline;
}
.img-logo1{
    width:320px;
    margin-right:130px;
}
.img-logo-footer{
    width: 27%;
    margin-top:40px;
    margin-bottom:20px;
}
.txt-otorga{
    width:50%;
    margin-top:70px;
    margin-bottom:0px;
    margin-left:auto;
    margin-right:auto;
}
.txt-diploma{
    width:50%;
    object-fit:cover;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:50px;
}
.txt-name{
    font-family:Roboto;
    font-size:28px;
    width: 85%;
    font-weight:900;
    color:black;
    margin-left:auto !important;
    margin-right:auto !important;
    text-align:center;
    border-bottom:solid 3px #d2d3d5;
    display:flex;
    justify-content:center;
    align-items:center;
}
.txt-name p{
    margin:0px !important;
}
.txt-descripcion{
    width: 60%;
    margin-right:auto;
    margin-left:auto;
    margin-top:35px;
}
.txt-name-firma{
    width:40%;
    margin-right:auto;
    margin-left:auto;
    margin-top:140px;
}
.firma{
    z-index:999;
    position:absolute;
    width:12%;
    margin-left:270px !important;
    margin-top:260px;
}
.div-datos{
    width:100%;
    padding:20px;
    display:flex;
    flex-wrap:wrap;
    margin-top:70px;
    align-items:center;
    margin-bottom:10px;

}
.div-datos div{
    display:flex;
    align-items:center;
    width:max-content !important;
    margin-top:10px;
}
.div-datos img{
    width:65px;
}
.div-datos p{
    margin-top:0px;
    margin-bottom:0px;
    margin-right:15px;
    padding-left:5px;
    padding-right:5px;
    border-bottom:solid 3px #d2d3d5;
    font-family:Roboto;
    font-size:20px;
    font-weight:800;
    color:black;
}