.bttm-pos {
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1030;
}

@media (max-width: 768px) {
    .bttm-pos {
        right: unset;
        bottom: unset;
        left: unset;
        position: unset;
        z-index: unset;
    }
}
