.portadaInicio{
    width: 100%;
    display: flex;
    justify-content: center;
}
.portadaInicio img{
    object-fit: cover;
    width: 40%;
}

.inicio_rounded{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(77, 77, 77, 0.25);
    border-radius: 8px;
    width: 95%;
    max-width: 1800px;
    padding-top:40px;
    margin-top: -80px;
    margin-bottom:100px;
    transition: all 0.3s;
}

.owl-item{
    height: 70px !important;
}

.clientes_title{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    color: #323232;
    margin-top:50px;
    text-align: center;
}

.clientes_item{
    height: 100%;
    display: flex !important;
    align-items: center !important;
}

.clientes_item img{
    height: 100%;
    width: auto;
    object-fit: contain;
}

.rojito{
    background-color: red;
}

.moradito{
    background-color: purple;
}
@media (max-width: 600px){
    .portadaInicio img{
        object-fit: cover;
        width: 90%;
    }

    .inicio_rounded{
        width: 100%;
        border-radius: 0px;
        transition: all 0.3s;
    }
}