/* .MuiPaper-root{
    background-color: #282828 !important;
} */
.modal-title-txt{
    font-family: Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #282828;
}
.modal-content-txt{
    font-family: Oxygen !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 18px !important;
    color: #282828 !important;
}
.btn-cancel-modal{
    font-family: Oxygen !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 12px !important;
    line-height: 15px !important;
    color: #282828 !important;
}
.btn-delete-modal{
    font-family: Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: white;

    background: #282828;
    border: 1px solid #282828;
    box-sizing: border-box;
    border-radius: 50px;

    padding:10px;
    padding-left: 24px;
    padding-right: 24px;
}